html {
    scroll-behavior: smooth;
}
body {
    position: relative;
    margin: 0;
}

a {
    color: black;
    transition: .15s;
}

a:hover {
    text-decoration: underline;
}
header,
main {
    max-width: 800px;
    margin: auto;
}

header {
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: black 2px solid;
}

.modalContainer {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}
/* Styling for the Nav  */
/* desktop */
.main-header-container {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.logo-container {
    width: 8%
}

.logo-container img {
    width: 100%;
}

.main-header-container nav {
    display: flex;
    justify-content: space-between;
    width: 680px;
    margin: auto 0;
}

.nav-item {
    text-decoration: none;
    font-size: 18px;
}

.nav-item-container {
    margin: auto 0;
}

.searchInput {
    padding: 10px;
    border: 1px solid black;
    border-radius: 18px;
}

/* mobile navigation */
.mobileNavigation {
    width: 100%;
    background-color: rgb(196, 219, 242);
        position: sticky;
    bottom: 0;
    padding: 20px 0;
    border-radius: 18px 18px 0px 0;
    border-top: black 2px solid;
    display: none;
}

.mobileInnerNavTop {
    display: flex;
    justify-content: space-around;
}

.mobileInnerNavTop .logo-container {
    margin: auto 0;
}
.mobileSearchInputContainer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#myLinks {
    display: none;
}

.nav-item-container-mobile {
    display: flex;
    justify-content: space-around;
    margin: 20px 40px;
    border-top: solid;
}

.nav-item-container-mobile .nav-item {
    padding-top: 6px;
}

.break {
    display: none;
}

@media only screen and (max-width: 700px) {
    .break {
            display: block;
        }
    header {
        display: none;
    }

    .mobileNavigation {
        display: block;
    }
        
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active link (or home/logo) */
.active {
    background-color: #04AA6D;
    color: white;
}




/* header main */
.imageMain {
    background-image: url(https://cdn.shopify.com/s/files/1/0719/2635/0101/files/beach.jpg?v=1683677411);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* eat page */
.imageMain.eat {
    background-image: url(https://cdn.shopify.com/s/files/1/0719/2635/0101/files/istockphoto-1201029465-170667a.jpg?v=1683787033);
}
/* Rest Page */
.imageMain.rest {
    background-image: url(https://cdn.shopify.com/s/files/1/0719/2635/0101/files/image.jpg?v=1683860242);
}
/* Adventures Page*/
.imageMain.adventures {
    background-image: url(https://cdn.shopify.com/s/files/1/0719/2635/0101/files/cascading-waterfall.jpg?v=1683865485);
}

/* Enjoy Page */
.imageMain.enjoy {
    background-image: url(https://cdn.shopify.com/s/files/1/0719/2635/0101/files/image_1.jpg?v=1683865700);
}
.header {
    color: white;
    font-size: 40px;
    text-align: center;
}

/* Footer */
footer {
    background-color: black;
    padding: 20px;
    padding-bottom: 140px;
}

.footerTopHeader {
    color: white;
    text-align: center;
    font-size: 22px;
}

.footerLinkContainer {
    display: flex;
    justify-content: space-around;
}

.nav-item-container-footer {
    padding-top: 20px;
}

.nav-item-container-footer a {
    color: white;
}

.nav-item-container-footer .nav-item {
    font-size: 20px;
}

.cursiveHeader {
    color: white;
    font-family: cursive;
    text-align: center;
    font-size: 45px;
    margin-bottom: 0;
}

.copyrightText {
    text-align: center;
    color: white;
}

.footerBottomLinksContainer {
    display: flex;
    justify-content: space-around;
}
/* Modal Styling */
/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
    padding: 12px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

#myBtn {
    background-color: #5cb85c;
    border-radius: 18px;
    padding: 10px;
    color: white;
    font-weight: 800;
    text-shadow: 2px 2px black;
    transition: background-color .15s;
}

#myBtn:hover {
    background-color: #e2eee2;
}

#myBtnTwo {
    background-color: #5cb85c;
    border-radius: 18px;
    padding: 10px;
    color: white;
    font-weight: 800;
    text-shadow: 2px 2px black;
    transition: background-color .15s;
}

#myBtnTwo:hover {
    background-color: #e2eee2;
}

/* input field */
.inputFields {
    margin: 20px 0;
}

.modal-footer {
    display: flex;
    justify-content: space-around;
}

.modal-footer button {
    padding: 10px;
    border-radius: 18px;
}
/* Page Intro */
.pageIntro {
    text-align: center;
    font-size: 22px;
    margin: 80px 80px;
}

@media only screen and (max-width: 700px) {
    .pageIntro {
        margin: 60px 30px;
    }
}

/* sectionIntro */
.sectionIntro {
    text-align: center;
    border-top: grey solid 1px;
    margin: 80px 0;
}

.sectionIntro h2 {
    margin-top: 80px;
    margin-bottom: 40px;
}

.sectionIntro p {
    margin: 50px;
    font-size: 20px;
}

.sectionIntroImage {
    max-width: 100%;
    border-radius: 50%;
    transition: border .15s;
}

.sectionIntroImage:hover {
    cursor: pointer;
    border: 2px solid black;
}

@media only screen and (max-width: 700px) {
    .sectionIntro {
        margin: 60px 30px;
    }
}

/* Page buttons */

.pageButtons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pageButtonLink {
    margin: 10px;
    text-decoration: none;
    padding: 10px;
    border: 2px solid rgb(196, 219, 242);
    border-radius: 18px;
    transition: border .15s;
}

.pageButtonLink:hover {
    border: 4px solid rgb(196, 219, 242);
}

.sectionIntroImage.page:hover {
    cursor: default;
    border: none;
}

.pageSectionImage {
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 40px 0;
}

.pageSectionImage h3,
.subsectionIntro {
    color: white;
    text-align: center;
}

.subsectionIntro {
    font-size: 20px;
    color: black;
    margin-bottom: 40px;
}

.pageSectionContainer {
    margin: 100px 0;
}
/* pageSectionImage Images */
.pageSectionImage.localCousine {
    background-image: url(https://cdn.shopify.com/s/files/1/0719/2635/0101/files/raw-clam-meat-large-seashell-served-food-local-restaurant-island-zanzibar-tanzania-east-africa_185094-7724.jpg?v=1683788930);
}

.pageSectionImage.american {
    background-image: url(https://cdn.shopify.com/s/files/1/0719/2635/0101/files/istockphoto-1252796974-170667a.jpg?v=1683791896);
}

.pageSectionImage.panAsian {
    background-image: url(https://cdn.shopify.com/s/files/1/0719/2635/0101/files/istockphoto-1360470221-612x612.jpg?v=1683792317);
}

.pageSectionImage.supermarket {
    background-image: url(https://cdn.shopify.com/s/files/1/0719/2635/0101/files/istockphoto-1360470221-612x612.jpg?v=1683792317);
}

.pageSectionImage.convenanceStore {
    background-image: url(https://cdn.shopify.com/s/files/1/0719/2635/0101/files/download.jpg?v=1683793436);
}

.pageSectionImage.grocers {
    background-image: url(https://cdn.shopify.com/s/files/1/0719/2635/0101/files/istockphoto-1265272573-612x612.jpg?v=1683793839);
}
.pageSectionImage.resort {
    background-image: url(https://cdn.shopify.com/s/files/1/0719/2635/0101/files/20171004gcpbz00_selection-1007.jpg?v=1683860713);
}

.pageSectionImage.hotels {
    background-image: url(https://cdn.shopify.com/s/files/1/0719/2635/0101/files/treasure-island-beach.jpg?v=1683861064);
}

.pageSectionImage.bedAndBreakfast {
    background-image: url(https://cdn.shopify.com/s/files/1/0719/2635/0101/files/AmeliaIsland-ext2.jpg?v=1683861356);
}
.pageSectionImage.taniti {
    background-image: url(https://cdn.shopify.com/s/files/1/0719/2635/0101/files/featured.jpg?v=1683862169);
}

.pageSectionImage.boat {
    background-image: url(https://cdn.shopify.com/s/files/1/0719/2635/0101/files/f96b59_5abd6b993aa54d63b1af8b2e38adcf88_mv2.jpg?v=1683863499);
}

.pageSectionImage.bus {
    background-image: url(https://cdn.shopify.com/s/files/1/0719/2635/0101/files/download_1.jpg?v=1683863941);
}

.pageSectionImage.helicopter {
    background-image: url(https://cdn.shopify.com/s/files/1/0719/2635/0101/files/air-kauai-helicopters-1.jpg?v=1683862302);
}

.pageSectionImage.hikingTours {
    background-image: url(https://cdn.shopify.com/s/files/1/0719/2635/0101/files/m4AFYm.jpg?v=1683864339);
}

.pageSectionImage.volcanoTours {
    background-image: url(https://cdn.shopify.com/s/files/1/0719/2635/0101/files/wasabi-tours-16.jpg?v=1683864551);
}
.pageSectionImage.history {
    background-image: url(https://cdn.shopify.com/s/files/1/0719/2635/0101/files/natural-history-museum_blue-whale-hintze-hall-photo-lucie-goodayle-image-courtesy-of-the-natural-history-museum_c4b9caf92a46e29762bcc2db0635f11b.jpg?v=1683866237);
}

.pageSectionImage.artGalleries {
    background-image: url(https://cdn.shopify.com/s/files/1/0719/2635/0101/files/pexels-photo-1585325.jpg?v=1683866712);
}

.pageSectionImage.arcade {
    background-image: url(https://cdn.shopify.com/s/files/1/0719/2635/0101/files/3657982-gettyimages-133033277.jpg?v=1683867034);
}

.pageSectionImage.fishingTours {
    background-image: url(https://cdn.shopify.com/s/files/1/0719/2635/0101/files/download_3.jpg?v=1683867463);
}

.pageSectionImage.snorkeling {
    background-image: url(https://cdn.shopify.com/s/files/1/0719/2635/0101/files/snorkeling-molokini-crater-turtle-town-maui.jpg?v=1683867617);
}

.pageSectionImage.ziplining {
    background-image: url(https://cdn.shopify.com/s/files/1/0719/2635/0101/files/bd.jpg?v=1683867793);
}

.pageSectionImage.golf {
    background-image: url(https://cdn.shopify.com/s/files/1/0719/2635/0101/files/download_4.jpg?v=1683867902);
}
/* Subsection Options */
.subSectionOptions {
    margin: 20px;
}

.subSectionOptionRow {
    display: flex;
    justify-content: space-around;
}

.subSectionOption {
    width: 600px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
    padding-top: 15px;
    padding-bottom: 15px;
}

.subSectionOption h5 {
    font-size: 17px;
    margin-bottom: 0;
}


.subSectionOptionRight {
    margin: auto 0;
    width: 25%;
}

.subSectionOptionImage {
    width: 100%;
    border-radius: 50%;
    transition: .15s;
}

.subSectionOptionImage:hover {
    border: solid black 1px;
}